@import "settings";
@import "foundation";

.instafeed>li {
	padding: 4px;
}

/* general user blocks */
.user-block__info {
	margin:4em 0;
	h3 {
		font-weight: bold;
		margin-bottom: -2px;
	}
	h4 {
		margin-top: 0;
		line-height: 1;
		font-style: italic;
	}
	p {
		margin-top: 1em;
		font-size: 0.875em;
	}
}
.instagram-follow-link {
	color:#e13938;
	text-transform: uppercase;
	border-bottom:1px solid;
	font-size: 0.875em;
	font-weight: bold;
}

@each $user in shakia, haley, savannah, tatsue, keisa, adrian {
	.user-block__info--#{$user}:before {
		content: '';
		width: 200px;
		height: 200px;
		background: transparent;
		border-radius: 100px;
		background-image: url('../img/#{$user}-profile.jpg');
		position: absolute;
		margin-left: -250px;
		background-size: cover;
	}
}